<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>路由模板展示</title>
    <link rel="stylesheet" href="static/css/template.css">
    <script src="static/js/jQuery.js"></script>
    <script src="static/js/dom-to-image.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="container-inner" id="main" style="background-image: url(<%= resourcePath+'/day_one.jpg' %>);">
            <div class='frosted-glass'></div>
            <div class="content">
                <div class="header date">
                    <span>
                        <span class="day"><%= todaysEn.d > 9 ? todaysEn.d : '0' + todaysEn.d  %></span>
                        <span class="month"><%= todaysEn.m %></span>
                        <span class="year"><%= todaysEn.y %></span>
                        <span class="week"><%= todaysEn.w["cn"] %></span>
                    </span>
                </div>
                <div class="main">
                    <div class="one-word">
                        <span><%= oneData.text %></span>
                    </div>
                </div>
                <div class="footer">
                    <div class="weather-info">
                        <div class="weather-icon">
                            <img src="<%= resourcePath+'/weather1.png' %>" alt="weather-icon">
                        </div>
                        <span><%= weatherTip.tips %></span>
                        <span> &nbsp;--郑州</span>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <script src="static/js/template.js"></script>
    
</body>
</html>